<h1>Você está vendo a conversão de {{ from }} e {{ to }}</h1>
<div class="flex">
  <app-converter
  src="from"
  [category]="category"
  [convertFrom]="from"
  (onInputValue)="convertValue($event)"
  [convertedNumber]="convertedValueFieldFrom"
  ></app-converter>

<app-converter
  src="to"
  [category]="category"
  [convertTo]="to"
  (onInputValue)="convertValue($event)"
  [convertedNumber]="convertedValueFieldTo"
  ></app-converter>
</div>
<br>
<button
  mat-flat-button
  color="primary"
  (click)="navigateToHome()">
  Voltar para home
</button>
